<div class ="container">
<h1>Pesquisa de Endereço</h1>
<div class ="form-group">
  

  <label> Digite o cep </label>
  <input class ="form-control"type="text" [(ngModel)]= "cep" size= "10">
  <button class="btn primary"(click)="getCep()">Digite seu CEP</button> 
</div>
</div>

<div class ="container">
<div cllas ="form-group">
<label>Endereco</label>
<small class ="form-text">{{endereco.logradouro}}</small>
</div>

<div cllas ="form-group">
    <label>Bairro</label>
    <small class ="form-text">{{endereco.bairro}}</small>
    </div>

    <div cllas ="form-group">
        <label>Cidade</label>
        <small class ="form-text">{{endereco.localidade}}</small>
        </div>


        <div cllas ="form-group">
            <label>Estado</label>
            <small class ="form-text">{{endereco.uf}}</small>
            </div>

              <div cllas ="form-group">
                <label>Cep</label>
                <small class ="form-text">{{endereco.cep}}</small>
                </div>


                <div cllas ="form-group">
                    <label>complemento</label>
                    <small class ="form-text">{{endereco.complemento}}</small>
                    </div>

 
                    <div cllas ="form-group">
                        <label>unidade</label>
                        <small class ="form-text">{{endereco.unidade}}</small>
                        </div>
    


</div>